header {
  font: bold calc(0.02 * (100vw)) 'Arial', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 8px;
  padding: 8px;
  background-color: #2196f3;
}

.grid-container > section {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.grid-container nav ul {
  list-style: none;
  text-align: left;
  padding: 10px;
}

.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.main {
  grid-area: main;
}
.right {
  grid-area: right;
}
.footer {
  grid-area: footer;
}

.forecast {
  margin: 0;
  padding: 0.3rem;
  background-color: #eee;
  font: 1rem 'Fira Sans', sans-serif;
}

.forecast > h1,
.day-forecast {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
}

.day-forecast {
  background: right/contain content-box border-box no-repeat
    url('./rain.svg') white;
}

.day-forecast > h2,
.day-forecast > p {
  margin: 0.2rem;
  font-size: 1rem;
}
